@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  overflow-x: hidden;
  overflow-wrap: break-word;
  padding-top: 100px;
  line-height: 1;
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

[type="text"],
[type="email"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

@media (max-width: 767px) {
  [type="text"],
  [type="email"] {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

[type="text"]:focus,
[type="email"]:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 100%;
}

@media (max-width: 767px) {
  textarea {
    height: 180px;
  }
}

textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

input[type="radio"] + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

input[type="radio"] + span::after {
  -webkit-transform: translateY(-50%);
  background: rgba(63, 81, 181, 0.72);
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 4px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 8px;
}

input[type="radio"]:checked + span::after {
  opacity: 1;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 1.2em;
  position: relative;
}

@media (max-width: 767px) {
  [type="checkbox"] + span {
    padding-left: 46px;
  }
}

[type="checkbox"] + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

[type="checkbox"] + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid rgba(63, 81, 181, 0.72);
  border-left: 3px solid rgba(63, 81, 181, 0.72);
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 1em;
}

[type="checkbox"]:checked + span::after {
  opacity: 1;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(../img/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

@media (max-width: 767px) {
  select {
    padding-top: 3px;
    padding-bottom: 3px;
    background-position: center right 10px;
  }
}

select::-ms-expand {
  display: none;
}

select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

[type="submit"] {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
}

[type="submit"]:hover, [type="submit"]:focus {
  outline: none;
}

[type="submit"]::-moz-foucus-inner {
  border: none;
  padding: 0;
}

#file {
  display: none;
}

#file-label {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  cursor: pointer;
  padding: 0.4em 0.8em;
}

#file-name {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  color: inherit;
  display: none;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0;
  width: 100%;
}

@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1247px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button-arrow-right {
  -webkit-appearance: none;
  background: #3f51b5 url(../img/button-arrow.png) no-repeat center right 12px/17px 16px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 14px 60px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 304px;
  max-width: 100%;
  line-height: 1.6;
}

@media (max-width: 767px) {
  .button-arrow-right {
    padding: 14px 32px;
    width: 100%;
  }
}

.section-title {
  font-family: "Lato", sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding: 0 0 28px;
  margin: 0;
  position: relative;
  text-align: center;
  line-height: 1;
}

.section-title::after {
  content: "";
  background: #3f51b5;
  width: 60px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 767px) {
  .section-title::after {
    width: 48px;
  }
}

@media (max-width: 1247px) {
  .section-title {
    font-size: 50px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 42px;
    padding-bottom: 16px;
  }
}

header {
  font-family: "Lato", sans-serif;
  background-color: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 100px;
}

@media (max-width: 767px) {
  header {
    height: 60px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header-logo {
  margin: 0;
  line-height: 1;
}

.header-logo img {
  width: 205px;
  vertical-align: middle;
}

@media (max-width: 1247px) {
  .header-logo img {
    width: 180px;
  }
}

@media (max-width: 767px) {
  .header-logo img {
    width: 148px;
  }
}

.header-nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav ul li {
  margin-right: 40px;
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.header-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: #e81919;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-nav ul li a.active::after {
  opacity: 1;
}

.header-nav ul li a:hover::after {
  bottom: -2px;
  opacity: 1;
}

.main {
  background-image: url(../img/mainvisual.png);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1247px) {
  .main {
    height: calc(100vh - 100px);
  }
}

@media (max-width: 767px) {
  .main {
    height: calc(100vh - 60px);
  }
}

.main-visual {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 1247px) {
  .main-visual {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .main-visual {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  font-size: 64px;
  font-weight: bold;
}

@media (max-width: 1247px) {
  .title {
    font-size: 56px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 30px;
  }
}

.lead {
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 1247px) {
  .lead {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .lead {
    font-size: 20px;
  }
}

.button {
  margin-top: 36px;
}

@media (max-width: 1247px) {
  .button {
    margin-top: 34px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-top: 34px;
  }
}

.btn {
  display: inline-block;
  background: #3f51b5 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  max-width: 100%;
  width: 390px;
  height: 83px;
  border-radius: 12px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 27px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .btn {
    padding: 26px 36px;
    font-size: 20px;
    width: 240px;
  }
}

.btn:hover {
  opacity: 0.7;
}

.card {
  background-color: #EFEFEF;
}

.card-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 56px;
}

@media (max-width: 767px) {
  .card-lists {
    margin-top: 30px;
  }
}

.card-list {
  width: calc((100% - (24px * 2))/ 3);
  margin-right: 24px;
  margin-top: 24px;
}

.card-list:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 1247px) {
  .card-list {
    width: calc(50% - 24px / 2);
    margin-right: 24px;
  }
  .card-list:nth-child(3n) {
    margin-right: 24px;
  }
  .card-list:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .card-list {
    width: 100%;
    margin-right: 0;
  }
  .card-list:nth-child(3n) {
    margin-right: 0;
  }
}

.card-list a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-list a:hover {
  opacity: 0.7;
}

.media {
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  padding: 16px 16px 14px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media_img {
  text-align: center;
}

.media_img img {
  vertical-align: bottom;
}

.media_body {
  margin-top: 12px;
}

.media_title {
  font-weight: 700;
  font-size: 20px;
  color: #6f7579;
}

.media_content {
  font-weight: 700;
  color: #6f7579;
  margin-top: 4px;
  line-height: 1.5;
}

.news_lists {
  margin: 60px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news_lists {
    margin-top: 38px;
  }
}

.news_lists a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.news_lists a:hover {
  opacity: 0.7;
}

.news_list {
  border-bottom: 1px solid #707070;
}

.news_list:last-child {
  border: none;
}

.info {
  padding: 20px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .info {
    display: block;
    padding: 12px 0;
  }
}

.info_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
  padding-top: 2px;
}

@media (max-width: 767px) {
  .info_meta {
    width: 100%;
    padding-top: 0;
  }
}

.date {
  width: 105px;
  display: inline-block;
  padding-top: 3px;
}

@media (max-width: 767px) {
  .date {
    width: auto;
  }
}

.label {
  width: 80px;
}

@media (max-width: 767px) {
  .label {
    width: auto;
    margin-left: auto;
  }
}

.label a {
  display: inline-block;
  color: #ffffff;
  background: #666666;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  border-radius: 4px;
  padding: 8px;
}

@media (max-width: 767px) {
  .label a {
    padding: 4px 8px;
  }
}

.label.label2 a {
  background: #3F51B5;
}

.label.label3 a {
  background: #E81919;
}

.info_title {
  line-height: 1.25;
  width: calc(100% - 185px);
  padding: 5px 0 0 20px;
}

@media (max-width: 767px) {
  .info_title {
    width: 100%;
    margin-top: 6px;
    padding: 0;
  }
}

.info_title a {
  color: #333333;
  text-decoration: none;
}

.news_link {
  text-align: center;
  margin-top: 60px;
}

.news_link a {
  font-family: "Lato", sans-serif;
  color: #E81919;
  font-weight: bold;
  text-decoration: none;
}

.news_link a::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  margin-top: -1px;
  vertical-align: middle;
  width: 7px;
  height: 11px;
  background: transparent url("../img/news-arrow.png") 0% 0% no-repeat padding-box;
}

.price {
  background-color: #EFEFEF;
}

.price_items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .price_items {
    display: block;
    margin-top: 52px;
  }
}

.price_items a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.price_items a:hover {
  opacity: 0.7;
}

.price_items .price_left {
  width: 454px;
  margin-right: 40px;
}

@media (max-width: 1247px) {
  .price_items .price_left {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .price_items .price_left {
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.price_items .price_right {
  width: 706px;
}

@media (max-width: 767px) {
  .price_items .price_right {
    width: 100%;
  }
}

.price_items .price_table {
  width: 100%;
  table-layout: fixed;
  height: 286px;
  border-collapse: collapse;
  background-color: #fff;
}

.price_items .price_table th {
  font-family: "Lato", sans-serif;
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: bold;
  color: #fff;
  background-color: #999;
  text-align: center;
}

.price_items .price_table th:first-child {
  width: 170px;
}

@media (max-width: 767px) {
  .price_items .price_table th:first-child {
    padding: 16px;
    width: 80px;
  }
}

@media (max-width: 1247px) {
  .price_items .price_table th:first-child {
    width: 100px;
  }
}

.price_items .price_table td {
  padding: 18px 24px;
  border: 1px solid #707070;
  vertical-align: middle;
  line-height: 1.2;
  font-weight: bold;
  text-align: right;
}

.price_items .price_table td.table-default_multiline {
  padding-top: 10px;
  padding-bottom: 8px;
}

.price_items .price_table td .m-active {
  color: red;
  font-weight: bold;
}

.price_items .price_table td .m-small {
  font-size: 0.825em;
  font-weight: bold;
}

@media (max-width: 767px) {
  .price_items .price_table td {
    padding: 16px;
  }
}

.price_items .table__attention {
  margin-top: 12px;
  font-size: 14px;
}

.price_items .table__attention a {
  font-weight: bold;
  color: #333333;
}

.access_items {
  width: 800px;
  max-width: 100%;
  margin: 80px auto 0;
}

@media (max-width: 767px) {
  .access_items {
    margin-top: 60px;
  }
}

.access_map {
  width: 100%;
  padding-top: 66.66667%;
  position: relative;
}

.access_map > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.map_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 8px auto 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .map_info {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
  }
}

.map_info dt,
.map_info dd {
  padding: 3px 0;
  margin: 0;
}

@media (max-width: 767px) {
  .map_info dt,
  .map_info dd {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.map_info dt {
  width: 104px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .map_info dt {
    width: 92px;
  }
}

.map_info dd {
  width: calc(100% - 118px);
}

@media (max-width: 767px) {
  .map_info dd {
    width: calc(100% - 92px);
  }
}

.map_link {
  text-align: center;
  margin-top: 22px;
}

.map_link a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.map_link a:hover {
  opacity: 0.7;
}

.contact {
  background-color: #EFEFEF;
}

.contact_items {
  margin: 80px auto 0;
  padding: 60px;
  background: #fff;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .contact_items {
    padding: 20px;
    margin-top: 26px;
  }
}

.contact_input {
  margin: 0;
}

.contact_item {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact_item {
    display: block;
    margin-bottom: 24px;
  }
}

.contact_item:first-child {
  margin-top: 0;
}

dt {
  width: 160px;
  padding: 11px 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  dt {
    width: 100%;
    padding-top: 0;
  }
}

dd {
  width: 520px;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  dd {
    width: 100%;
    margin-top: 8px;
  }
}

.contact_label {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .contact_label {
    display: inline-block;
  }
}

.contact_label-required {
  position: relative;
}

@media (max-width: 767px) {
  .contact_label-required {
    padding-right: 54px;
  }
}

.contact_label-required::after {
  content: "必須";
  position: absolute;
  display: block;
  width: 44px;
  padding: 4px 8px;
  background-color: #E81919;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  top: calc(100% + 8px);
  left: 0;
}

@media (max-width: 767px) {
  .contact_label-required::after {
    top: 50%;
    left: auto;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.form-textarea {
  height: 240px;
}

.contact_radio {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .contact_radio {
    margin-top: 26px;
  }
}

.contact_radio_item {
  margin-right: 32px;
}

.contact_radio_item:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .contact_radio_item:last-child {
    margin-bottom: 16px;
    margin-right: 0;
    display: block;
  }
}

.contact_check {
  margin-top: 58px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact_check {
    margin-top: 24px;
  }
}

.contact_check a {
  color: #333;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact_check a:hover {
  opacity: 0.7;
}

[type="checkbox"] {
  padding: 0 0 0 50px;
}

[type="checkbox"] + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 50px;
  position: relative;
}

@media (max-width: 767px) {
  [type="checkbox"] + span {
    padding-left: 46px;
  }
}

[type="checkbox"] + span::before, [type="checkbox"] + span::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

[type="checkbox"] + span::before {
  background: #fff;
  border: 1px solid #707070;
  display: block;
  left: 0;
  width: 25px;
  height: 25px;
}

[type="checkbox"] + span::after {
  border: 1px solid transparent;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent url(../img/checkbox.png) no-repeat center center/contain;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

[type="checkbox"]:checked + span::after {
  opacity: 1;
}

.contact_submit {
  margin-top: 35px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact_submit:hover {
  opacity: 0.7;
}

footer {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  padding: 48px 0 24px;
  width: 100%;
  color: #fff;
}

@media (max-width: 767px) {
  footer {
    padding-top: 62px;
    padding-bottom: 24px;
  }
}

footer a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer a:hover {
  opacity: 0.7;
}

.footer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer_items {
    display: block;
  }
}

.footer_left {
  width: 35%;
  text-align: left;
}

@media (max-width: 767px) {
  .footer_left {
    width: 100%;
    padding: 0;
  }
}

.footer_left .footer_logo a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.footer_left .footer_logo img {
  width: 205px;
}

.footer_left .footer_info {
  margin-top: 32px;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 767px) {
  .footer_left .footer_info {
    margin-top: 20px;
  }
}

.footer_left .footer_info p {
  margin-top: 0;
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .footer_left .footer_info p {
    margin-bottom: 6px;
  }
}

.footer_left .footer_info p:last-child {
  margin-bottom: 0;
}

.footer_center {
  font-family: "Lato", sans-serif;
  width: 50%;
  padding: 8px 10px 0;
}

@media (max-width: 767px) {
  .footer_center {
    width: 100%;
    margin-top: 52px;
    padding: 0;
  }
}

.footer_center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_center ul li {
  margin-right: 40px;
  margin-bottom: 12px;
}

@media (max-width: 1247px) {
  .footer_center ul li {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .footer_center ul li {
    margin-right: 16px;
  }
}

.footer_center ul li:last-child {
  margin-right: 0;
}

.footer_center ul li a {
  color: #fff;
  text-decoration: none;
}

.footer_right {
  width: 20%;
  padding: 12px 0;
}

@media (max-width: 1247px) {
  .footer_right {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .footer_right {
    width: 100%;
    margin-top: 24px;
    padding: 0;
  }
}

.footer_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .footer_right ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_right ul li {
  margin-right: 16px;
}

.footer_right ul li:last-child {
  margin-right: 0;
}

.footer_right ul li img {
  width: 30px;
  vertical-align: bottom;
}

.footer_copy {
  margin-top: 36px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer_copy {
    margin-top: 40px;
  }
}

.footer_copy a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer_copy a:hover {
  opacity: 0.7;
}

.totop {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
  visibility: visible;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1247px) {
  .totop {
    right: 16px;
    bottom: 16px;
  }
}

@media (max-width: 767px) {
  .totop {
    right: 10px;
    bottom: 10px;
  }
}

.totop.is-show {
  visibility: visible;
}

.totop a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.totop a:hover {
  opacity: 0.7;
}

.totop img {
  width: 60px;
  vertical-align: bottom;
}

@media (max-width: 767px) {
  .totop img {
    width: 42px;
  }
}
